:root {
    --radius: 5px;
    --shadow: 0 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box {
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: var(--shadow);
}

#brdtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brdtitle p {
    text-align: center;
}

#brdtitle img {
    width: 80%;
    height: 80%;
    align-self: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#brdtitle:hover {
    filter: brightness(80%);
}

#brdtitle h1 {
    display: none;
}

#proavatar {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

#proavatar img {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

#proavatar:empty {
    background-image: url("http://egildia.pl/forum/avatar.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    margin-top: 3px;
    margin-right: 4px;
}

#announce H2 span:after {
    margin-left: 500px;
    content: "Pokaż/Ukryj";
    font-size: 11px;
    font-style: strong;
}

#pro14ranga {
    display: inline-flex;
}
#pro14ranga p {
    padding: 0;
}

/* ustawienia */
.pun .icon {
    width: 32px; /* szerokość ikon */
    height: 32px; /* wysokosc ikon */
    border: none;
}

/* brak nowych postów */
.pun .icon {
    background: url("http://egildia.pl/forum/ikony/posts.png") no-repeat !important;
}

/* nowy post */
.inew .icon {
    background: url("http://egildia.pl/forum/ikony/palac.png") no-repeat !important;
}

/* Przyklejone bez nowych postów */
.isticky .icon {
    background: url("http://egildia.pl/forum/ikony/newstickys.png") no-repeat !important;
}

/* Przyklejone z nowymi postami */
.isticky .icon-new {
    background: url("http://egildia.pl/forum/ikony/newstickys.png") no-repeat !important;
}

.inew .isticky {
    background: url("http://egildia.pl/forum/ikony/newstickys.png") no-repeat !important;
}

/* Zamkniety, brak nowych postów */
.iclosed .icon {
    background: url("http://egildia.pl/forum/ikony/posts.png") no-repeat !important;
}

/* Zamkniety z nowym postem */
.iclosed .icon-new {
    background: url("http://egildia.pl/forum/ikony/newposts.png") no-repeat !important;
}

/* Przeniesiony */
.imoved .icon {
    background: url("http://egildia.pl/forum/ikony/newposts.png") no-repeat !important;
}

/* ankieta bez nowych postów  */
.ipoll .icon {
    background: url("http://egildia.pl/forum/ikony/posts.png") no-repeat !important;
}

/* ankieta z nowych postów  */
.ipoll .icon-new {
    background: url("http://egildia.pl/forum/ikony/newposts.png") no-repeat !important;
}

div#brdtitle .img alt {
    display: none;
}

.tcr img {
    border: 1px solid;
    max-width: 40px !important;
    max-height: 40px !important;
    float: left;
}

.tcr .postavatar {
    margin: 0;
}

.tcr .postavatar:empty {
    background: url("http://egildia.pl/Obrazki/avatar.png") no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    float: left;
}

#brdmenu {
    text-align: center;
}

/* Chatbox */
.cb_right {
    min-width: 90%;
    width: 90%;
}

.cb_left {
    max-width: 10%;
    min-width: 10%;
    width: 10%;
}

div#punforums.pun div.block div.box div#chatbox {
    height: 310px !important;
}

.cb_right img {
    max-height: 300px;
    max-width: 700px;
}

.cb_left A {
    text-decoration: none;
}

.cb_lewy {
    position: relative;
}

.cb_info {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.block h2 span span[style="font-size:7px;vertical-align:super;"]:after {
    content: "- modded by Nit";
}

.cb_left span[style="color: green"] A {
    color: green;
}

.cb_left span[style="color: red"] A {
    color: red;
}

.cb_left span[style="color: yellow"] A {
    color: yellow;
}

/* info w chacie */
.cb_info ul,
li {
    list-style: none;
}
.cb_info li.podmenu {
    position: relative;
}
.cb_info li.podmenu:hover > ul {
    display: block;
    position: absolute;
    top: 100;
    left: 100%;
    margin: 0;
}
.cb_info ul.menu > li {
    position: relative;
    white-space: nowrap;
}
.cb_info ul.menu ul {
    display: none;
}
.cb_info ul.menu > li.podmenu:hover > ul {
    top: -40%;
    left: 100%;
    padding: 6px;
    box-shadow: 0 0 10px #000;
    border-radius: 3px;
    font-size: 10px;
    background: white;
    color: black;
}

div.cb_all object {
    display: none;
}
div.cb_all:last-child object {
    display: inline;
}

.h2sT1,
.h2sT2 {
    width: 9%;
    text-align: center;
    float: left;
}
.h2sT3 {
    width: 32%;
    text-align: left;
    float: right;
}
.blocktable h2 span {
    text-align: left;
    width: 50%;
    float: left;
}
.blocktable h2 {
    height: 16px;
}

div#punadmin.pun td div.T {
    display: none;
}

p span input[value="Preview"] {
    display: none;
}
div#punpost.pun
    div.blockform
    div.box
    form#post
    div.inform
    fieldset
    div.infldset
    label
    div#bbcode {
    display: none;
}

td.tcr a {
    text-decoration: none;
}

td.tcr a:hover {
    text-decoration: none;
}

div.tclcon h3 a {
    text-decoration: none;
}

div.tclcon h3 a:hover {
    text-decoration: none;
}

#brdmenu li#navprofile a {
    font-size: 0;
}
#brdmenu li#navprofile a:before {
    content: "";
    font-size: 11px;
}
#brdmenu li#navpm a {
    font-size: 0;
}
#brdmenu li#navpm a:before {
    content: "Poczta";
    font-size: 11px;
}
#brdmenu li#navindex a {
    font-size: 0;
}
#brdmenu li#navindex a:before {
    content: "Miasto";
    font-size: 11px;
}
#brdmenu li#navforums a {
    font-size: 0;
}
#brdmenu li#navforums a:before {
    content: "Miasto";
    font-size: 11px;
}
#brdmenu li#navuserlist a {
    font-size: 0;
}
#brdmenu li#navuserlist a:before {
    content: "Obywatele";
    font-size: 11px;
}
#brdmenu li#navadmin a {
    font-size: 0;
}
#brdmenu li#navadmin a:before {
    content: "Władza";
    font-size: 11px;
    color: red;
}
#brdmenu li#navrules {
    font-size: 0;
}
#brdmenu li#navrules a:before {
    content: "Prawo";
    font-size: 11px;
}
#brdmenu li#navlogout {
    font-size: 0;
}
#brdmenu li#navlogout a:before {
    content: "Wymelduj";
    font-size: 11px;
}
#brdmenu li#navlogin {
    font-size: 0;
}
#brdmenu li#navlogin a:before {
    content: "Zamelduj";
    font-size: 11px;
}
#brdmenu li a[href="gallery.php"] {
    display: none;
}

div#left div#stylowe25 {
    display: none;
}
