/* Import ChatBox custom styles */
@import url("./chatbox.css");
/* Import icons custom styles */
@import url("./icons.css");

:root {
    --primary-text-color: #f6b620;
    --input-text-color: #d4d4d4;
    --input-background-color: #2a2a2a;
    --primary-background-color: #383838;
    --radius: 5px;
    --shadow: 0 0 5px 15px rgba(0, 0, 0, 0.5);
}

.block,
.blocktable,
.blockpost {
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: var(--shadow);
}

#brdtitle img {
    width: 100%;
    align-self: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#brdtitle:hover {
    filter: brightness(80%);
}

#brdtitle h1 {
    display: none;
}

#brdmenu {
    text-align: center;
    font-size: 1.4rem;
}

.conr li a {
    font-size: 1.4rem;
}

#announce > .box,
.blockform > .box,
#adminconsole .box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

#announce > h2,
.blocktable > h2 {
    height: 2rem;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

#announce > h2:hover,
.blocktable > h2:hover {
    filter: brightness(80%);
}

#punwrap .advertisement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.blocktable thead {
    display: none;
}

.blockform h2,
#adminconsole h2 {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

#proavatar {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

#proavatar img {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

#proavatar:empty {
    background-image: url("http://egildia.pl/forum/avatar.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    margin-top: 3px;
    margin-right: 4px;
}

#pro14ranga {
    display: inline-flex;
}
#pro14ranga p {
    padding: 0;
}

.intd {
    display: flex;
    align-items: center;
}

.tcr img {
    border: 1px solid;
    max-width: 40px !important;
    max-height: 40px !important;
    float: left;
}

.tcr .postavatar {
    margin: 0;
}

.tcr .postavatar:empty {
    background: url("http://egildia.pl/Obrazki/avatar.png") no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    float: left;
}

.h2sT1,
.h2sT2 {
    width: 9%;
    text-align: center;
    float: left;
}
.h2sT3 {
    width: 32%;
    text-align: left;
    float: right;
}

div#punadmin.pun td div.T {
    display: none;
}

p span input[value="Preview"] {
    display: none;
}

#punwrap input[type="submit"],
#punwrap input[type="password"] {
    margin: 0 5px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#punwrap input[type="submit"]:hover {
    background-color: var(--input-text-color);
    color: var(--input-background-color);
}

#punwrap input[type="text"] {
    margin: 0 5px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.2rem;
}

#punwrap select {
    padding: 10px;
    border-radius: var(--radius);
    cursor: pointer;
}

#punwrap textarea {
    width: 99%;
}

div#punpost.pun
    div.blockform
    div.box
    form#post
    div.inform
    fieldset
    div.infldset
    label
    div#bbcode {
    display: none;
}

td.tcr a,
td.tcr a:hover,
div.tclcon h3 a,
div.tclcon h3 a:hover {
    text-decoration: none;
}

div#left div#stylowe25 {
    display: none;
}

.hidden {
    display: none;
}

/* Media Queries */
@media (max-width: 1024px) {
    .conr li a {
        font-size: 1rem;
    }

    #punwrap .advertisement {
        overflow: hidden;
    }

    .blocktable .inbox .tc2,
    .blocktable .inbox .tc3 {
        display: none;
    }

    .blocktable .inbox .tc1 {
        width: 90%;
    }

    .blocktable .inbox .tcr {
        width: 10%;
    }
}
