/* Import Scrollbar styles */
@import url("./scrollbar.css");
/* Import ChatBox custom styles */
@import url("./chatbox.css");
/* Import icons custom styles */
@import url("./icons.css");

/****************************************************************/
/* Import main Google Font (normal, italic, bold) */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Import Google Font for code texts (normal only) */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Poppins&display=swap");

/* Root variables using in the stylesheet */
:root {
    --base-font-size: 16px;
    --line-height: 1.6;
    --main-font-family: "Lato", "Verdana", sans-serif;
    --secondary-font-family: "Poppins", "monaco", monospace;
    --primary-text-color: #f6b620;
    --secondary-text-color: #d4d4d4;
    --input-text-color: #d4d4d4;
    --input-background-color: #2a2a2a;
    --primary-background-color: #383838;
    --radius: 10px;
    --shadow: 0 0 5px 15px rgba(0, 0, 0, 0.5);
    --transition: all 0.3s linear;
}

/* Default Font Group */

#punwrap {
    font-size: var(--base-font-size);
}

#punwrap .pun,
#punwrap .pun input,
#punwrap .pun select,
#punwrap .pun textarea,
#punwrap .pun optgroup {
    font-family: var(--main-font-family);
}

#punwrap .pun {
    font-size: 1rem;
    line-height: var(--line-height);
}

#punwrap .pun table,
#punwrap .pun input,
#punwrap .pun select,
#punwrap .pun optgroup,
#punwrap .pun textarea,
#punwrap div.postmsg p.postedit {
    font-size: 1rem;
}

#punwrap .pun pre {
    font-family: var(--secondary-font-family);
}

/* Font Sizes for headers */

#punwrap #brdtitle h1 {
    font-size: 1.4rem;
}

#punwrap .pun h2 {
    font-size: 1.2rem;
}

#punwrap .pun h3 {
    font-size: 1.1rem;
}

#punwrap .pun h4,
#punwrap .pun h5 {
    font-size: 1rem;
}

/* Larger text for particular items */

#punwrap div.postmsg p {
    line-height: var(--line-height);
}
#punwrap div.postleft dt {
    font-size: 1.1rem;
}
#punwrap .pun pre {
    font-size: 1.2rem;
}

/* Links */
#announce a,
#brdstats a,
.conl li a,
.conl dd a,
.conr li a,
.conr a,
.conv li a {
    text-decoration: none;
}

.tclcon li {
    margin-left: 10%;
    list-style-type: disc;
}

.tclcon a {
    text-decoration: none;
}

/* Radius */

#punwrap #brdheader .box,
#punwrap #announce,
#punwrap .blocktable,
#punwrap .pun td,
#punwrap .pun th,
#punwrap .pun blockquote,
#punwrap .codebox,
#punwrap .forminfo,
#punwrap .blockpost label,
#punwrap .blockform,
#punwrap .block2col,
#punwrap .block.pbbchatbox,
#punwrap #postreview,
#punwrap #brdstats .box,
#punwrap #brdfooter .box,
#punwrap .blockpost,
#punwrap .block {
    border-radius: var(--radius);
}

#punwrap .block2col .blockform,
#punwrap .block2col .block {
    border-radius: calc(var(--radius) / 2);
}

#punwrap .block h2,
#punwrap .blockpost h2 {
    border-radius: var(--radius) var(--radius) 0 0;
}

#punwrap .box,
#punwrap .block {
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: var(--shadow);
}

#chatbox .inbox {
    border-radius: 0;
}

/* Vertical spaces between board elements */

#punwrap .blocktable,
#punwrap .block,
#punwrap .blockform,
#punwrap .block2col,
#postreview {
    margin-bottom: 24px;
}

#punindex .blocktable,
#punwrap .blockpost {
    margin-bottom: 12px;
}

#punwrap .block2col .blockform,
#punwrap .block2col .block {
    margin-bottom: 0px;
}

#brdtitle img {
    width: 100%;
    align-self: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

#brdtitle img:hover {
    filter: brightness(80%);
}

#brdtitle h1 {
    display: none;
}

#brdmenu {
    text-align: center;
    font-size: 1.4rem;
}

#brdmenu a {
    border: 1px solid black;
    border-radius: var(--radius);
    padding: 10px;
    line-height: 2.5;
    background: var(--primary-background-color);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 80%);
    transition: var(--transition);
}

#brdmenu a:hover {
    box-shadow: 0 0 5px 0 #f6b620;
}

.conr li a {
    font-size: 1.4rem;
}

#announce > .box,
.blockform > .box,
#adminconsole .box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

#announce > h2,
.blocktable > h2 {
    height: 2rem;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: var(--transition);
}

#announce > h2:hover,
.blocktable > h2:hover {
    filter: brightness(80%);
}

#punwrap .advertisement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: var(--radius);
}

.blocktable thead {
    display: none;
}

.blocktable .tclcon {
    margin-left: 0;
}

.blockform h2,
#adminconsole h2 {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.block.pbbchatbox h2:nth-of-type(1) {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    text-align: center;
    font-weight: 700;
}

.block.pbbchatbox .box {
    border-radius: 0;
}

.block.pbbchatbox h2:nth-last-of-type(1) {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    font-size: 1.5rem;
}

#proavatar {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

#proavatar img {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

#proavatar:empty {
    background-image: url("http://egildia.pl/forum/avatar.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    margin-top: 3px;
    margin-right: 4px;
}

#pro14ranga {
    display: inline-flex;
}
#pro14ranga p {
    padding: 0;
}

.intd {
    display: flex;
    align-items: center;
}

.tcr img {
    border: 1px solid;
    max-width: 40px !important;
    max-height: 40px !important;
    float: left;
}

.tcr .postavatar {
    margin: 0;
}

.tcr .postavatar:empty {
    background: url("http://egildia.pl/Obrazki/avatar.png") no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    float: left;
}

.h2sT1,
.h2sT2 {
    width: 9%;
    text-align: center;
    float: left;
}
.h2sT3 {
    width: 32%;
    text-align: left;
    float: right;
}

div#punadmin.pun td div.T {
    display: none;
}

p span input[value="Preview"] {
    display: none;
}

input[name="npi"]:focus {
    outline: none;
}

#punwrap input[type="submit"],
#punwrap input[type="password"] {
    margin: 0 5px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: var(--transition);
}

#punwrap input[type="submit"]:hover {
    background-color: var(--input-text-color);
    color: var(--input-background-color);
}

#punwrap input[type="text"] {
    margin: 0 5px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.2rem;
}

#punwrap select {
    padding: 10px;
    border-radius: var(--radius);
    cursor: pointer;
}

#punwrap textarea {
    width: 99%;
}

div#punpost.pun
    div.blockform
    div.box
    form#post
    div.inform
    fieldset
    div.infldset
    label
    div#bbcode {
    display: none;
}

td.tcr a,
td.tcr a:hover,
div.tclcon h3 a,
div.tclcon h3 a:hover {
    text-decoration: none;
}

.pun .tclcon {
    padding-left: 1rem;
}

div#left div#stylowe25 {
    display: none;
}

.hidden {
    display: none;
}

.radius {
    border-radius: var(--radius);
}

#brdfooter .conr {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .conr li a {
        font-size: 1rem;
    }

    #punwrap .advertisement {
        overflow: hidden;
    }

    .blocktable .inbox .tc2,
    .blocktable .inbox .tc3 {
        display: none;
    }

    .blocktable .inbox .tcl {
        max-width: 90%;
    }

    .blocktable .inbox .tcr {
        width: 10%;
    }
}

@media screen and (max-width: 640px) {
    .tcl .intd .pun .icon {
        display: none;
        width: 0;
        height: 0;
        margin-top: 0;
        margin-left: 0;
        border: none;
    }
}
