@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-text-color: #f6b620;
    --secondary-text-color: #d4d4d4;
    --primary-background-color: #383838;
    --secondary-background-color: #515151;
    --main-font-family: "Lato", sans-serif;
    --radius: 10px;
    --shadow: 0 0 10px 1px rgba(0, 0, 0, 0.75);
    --transition: 0.3s linear;
}

.footer-table__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "Ranks Wortal Users User"
        "Allies Social Youtube Youtube";
    border-radius: var(--radius);
    background-color: var(--primary-background-color);
    font-family: var(--main-font-family);
}

/* Universal Elements */

.footer-table__container .footer-table__title,
.footer-table__link {
    margin-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-text-color);
    letter-spacing: 2px;
}

.footer-table__container .footer-table__link:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

.footer-table__container .footer-table__title {
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.footer-table__container .footer-table__subtitle {
    padding: 10px;
    color: var(--secondary-text-color);
    text-align: center;
}

.footer-table__image {
    border: 0;
    border-radius: var(--radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    transition: var(--transition);
}

.footer-table__image:hover {
    filter: brightness(80%);
}

/* Ranks Section */

.footer-table__prestige {
    grid-area: Ranks;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prestige__forum-ranks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
}

.forum-ranks__group-container {
    grid-column: span 2;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.forum-ranks__group-container:hover {
    background-color: var(--secondary-background-color);
}

.forum-ranks__group-container:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
}

.forum-ranks__group-name {
    font-weight: 600;
    padding: 5px;
    color: var(--primary-text-color);
}

.forum-ranks__list {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.forum-ranks__item {
    font-weight: bold;
}

/* Allies Section */

.footer-table__allies {
    grid-area: Allies;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allies__button-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
}

.allies__single-button {
    padding: 10px;
}

.allies__single-button img {
    width: 150px;
    height: 75px;
}

/* eGildia Wortal Section */

.footer-table__wortal {
    grid-area: Wortal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wortal__banner {
    border-radius: var(--radius);
}

.wortal__banner img {
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.wortal__banner img:hover {
    background-color: var(--secondary-background-color);
}

/* Social Section */

.footer-table__social {
    grid-area: Social;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__banner {
    border-radius: var(--radius);
}

.social__banner img {
    box-shadow: none;
    width: 300px;
    height: 300px;
}

/* Quotes Section */

.footer-table__users-quotes {
    grid-area: Users;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-quotes__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.users-quote__avatar {
    margin: 5px;
    width: 100px;
    height: 100px;
}

.users-quote__text {
    max-width: 50%;
    text-align: center;
    font-style: italic;
    color: var(--secondary-text-color);
}

/* Youtube Section */

.footer-table__youtube {
    grid-area: Youtube;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube__canals-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.youtube__single-canal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canal__author {
    font-weight: bold;
    color: var(--primary-text-color);
}

.canal__name {
    font-weight: bold;
    font-style: italic;
    color: var(--secondary-text-color);
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer-table__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7;
        grid-template-areas:
            "Ranks"
            "Ranks"
            "Users"
            "Allies"
            "Wortal"
            "Social"
            "Youtube";
    }
}

@media (max-width: 640px) {
    .allies__button-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
