@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-text-color: #f6b620;
    --secondary-text-color: #d4d4d4;
    --primary-background-color: #383838;
    --main-font-family: "Lato", sans-serif;
}

/* general elements */

.rules__container {
    font-family: var(--main-font-family);
    padding: 0 10vh;
}

.rules__container .rules__title {
    text-align: center;
    font-weight: bold;
    color: var(--primary-text-color);
}

.rules__chapter {
    font-weight: bold;
    color: var(--primary-text-color);
}

.rules__footer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.rules__signature,
.rules__novelizations-info {
    padding-top: 10px;
}

.rules__novelizations-info {
    font-style: italic;
}

/* strong inline elements */
.rules__chapters-list,
.rules__paragraphs-list,
.rules__points-list {
    list-style-type: none;
}

.rules__chapters-list {
    padding-left: 0;
}

.rules__chapters-list > li > h3 {
    text-align: center;
}

.rules__paragraphs-list {
    padding-left: 0;
}

.rules__chapters-list li {
    counter-increment: chaptersCounter;
}

.rules__chapters-list li::before {
    display: block;
    content: "Część " counter(chaptersCounter, upper-roman) ".";
    font-size: 1.1rem;
    text-align: center;
    color: var(--primary-text-color);
    font-weight: bold;
}

.rules__paragraphs-list li {
    counter-increment: paragraphsCounter;
}

.rules__paragraphs-list li::before {
    display: block;
    content: "§" counter(paragraphsCounter) ".";
    font-size: 1rem;
    color: var(--secondary-text-color);
    line-height: 1.6;
    text-align: center;
}

.rules__points-list li {
    counter-increment: pointsCounter;
}

.rules__points-list li::before {
    display: inline;
    content: counter(pointsCounter, lower-alpha) ")";
    padding: 3px;
}

strong {
    font-weight: bold;
}

strong.admin,
strong.warn {
    color: red;
}

strong.mod,
strong.award {
    color: green;
}

strong.authority,
strong.degradation {
    color: orange;
}

strong.ban {
    color: pink;
}

strong.link a {
    color: var(--primary-text-color);
    text-decoration: none;
}

strong.link a:hover {
    filter: brightness(80%);
}

strong.important {
    text-transform: uppercase;
}
