@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

:root {
    --primary-text-color: #f6b620;
    --secondary-text-color: #d4d4d4;
    --welcome-background-color: #383838;
    --welcome-font-family: "Shrikhand", cursive;
    --radius: 10px;
    --shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
}

.welcome__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--welcome-font-family);
    text-align: center;
    color: var(--secondary-text-color);
    letter-spacing: 2px;
    background-color: var(--primary-background-color);
}

.welcome__header {
    color: var(--primary-text-color);
}

.welcome__advice {
    width: 50%;
    padding: 5px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

.advice__text span {
    color: var(--primary-text-color);
}
